<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="w-full h-full bg-indigo-500 text-white">
    <a class="text-[20px] text-black-800 px-3 py-3 pt-5 mt-[3px] " href="/read">Read USers</a>
    <h1 class="text-[30px]  px-5 py-5 mt-[5px]  " > Creats the user </h1>
    <form action="/create" method="post">
        <input class="px-3 py-3 border-2 boder-zinc-800 ml-[10px] bg-zinc-500" type="text" name="name" placeholder="name">
        <input class="px-3 py-3 border-2 boder-zinc-800 ml-[10px] bg-zinc-500" type="text" name="email" placeholder="Email">
        <input class="px-3 py-3 border-2 boder-zinc-800 ml-[10px] bg-zinc-500" type="text" name="image" placeholder="Img Url">
        <input class="px-3 py-3 bg-red-400 rounded-lg ml-3" type="submit" value="creat users">
    </form>
</div>
</body>
</html>