<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="w-full h-full bg-zinc-800 text-white">
    <a class="text-[20px] text-blue-800 px-3 py-3 pt-5" href="/">Home</a>
    <h1 class="text-lg  px-5 py-5  " > All user </h1>

    <div class="users ml-4 flex gap-3 flex-wrap ">
        <div class=" user p-4 rounded-lg w-72 bg-zinc-600">
            <div class="w-full h-52 bg-blue-400 "> </div>
                <h3 class="text-lg">Abhisek Daude</h3>
                <h5>abhisekdaue@gmail.com</h5>
           
            <div class="flex gap-3 mt-3">
                <a class=" underline underline-offset-1" href="">Edit user</a>
                <a class=" underline underline-offset-1 text-red-500" href="">Delete user</a>
            </div>
        </div>
        <div class=" user p-4 rounded-lg w-72 bg-zinc-600">
            <div class="w-full h-52 bg-blue-400 "> </div>
                <h3 class="text-lg">Abhisek Daude</h3>
                <h5>abhisekdaue@gmail.com</h5>
           
            <div class="flex gap-3 mt-3">
                <a class=" underline underline-offset-1" href="">Edit user</a>
                <a class=" underline underline-offset-1 text-red-500 " href="">Delete user</a>
            </div>
        </div>

        

    </div>
   
</div>
</body>
</html>